:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #d4c2ab;
  --second-brand-color: #fc7643;
  --third-brand-color: #273248;
  --fourth-brand-color: #f3f3f3;

  --main-font:  'Archivo Narrow';
  --title-font:  'Archivo Narrow Bold';
  --main-title-font: 'Holtwood One SC';

  font-size: 62.5%;
}
